.footer {
	margin-top: auto;
	flex: 0 0 auto;
	padding: 78px 0 65px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
}
.footer__left {
	max-width: 534px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.footer__logo {
}
.logo {
}
.footer__text {
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: var(--footer-color);
}
.footer__social {
	display: flex;
	align-items: center;
	gap: 12px;
}
.footer__right {
	display: flex;
	justify-content: space-between;
	gap: 100px;
}
.footer__nav {
}
.foooter__title {
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: -0.01em;
	color: var(--footer-title-color);
  margin-bottom: 40px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer__item {
  max-width: 208px;
}
.footer__link {
	font-family: "Roboto";
	font-weight: 700;
	line-height: 16px;
	letter-spacing: -0.02em;
  color: var(--footer-color);
  text-wrap: balance;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  color: var(--footer-title-color);
}
.footer__link-contact {
  display: flex;
  gap: 8px;
}
